.citieDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45%;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-top: 15px;
}

.citieDetailsContainer h3{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.citieDetailsContainer div{
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 750px) {
    .citieDetailsContainer{
        width: 100%;
        border-bottom: none;
    }
}