.cardViewContainer{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cardViewContainer .timeContainer, .contentContainer, .socialContainer{
    width: 80%;
    margin: auto;
}

.cardViewContainer .socialContainer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardViewContainer .timeContainer{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardViewContainer .contentContainer{
    height: 30%;
    display: flex;
    color: white;
    align-items: flex-start;
    justify-content: center;
}

.cardViewContainer .contentContainer .tempContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;   
    height: 70%;
    margin-right: 20px;
}

.cardViewContainer .contentContainer .nameContainer{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.cardViewContainer .contentContainer .nameContainer h1{
    font-size: 36px;
}



.cardViewContainer .contentContainer .imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.cardViewContainer .contentContainer .imgContainer img{
    margin-top: -5px;
}

.cardViewContainer .contentContainer .imgContainer span{
    font-size: 12px;
    margin-top: -20px;
}

.socialMedia{
    font-size: 28px;
}

.linkedin{
    margin-left: 7px;
    margin-right: 7px;
    color: white;
}

.linkedin:hover{
    margin-left: 7px;
    margin-right: 7px;
    color: rgb(49, 146, 238);
}

.github{
    margin-left: 7px;
    margin-right: 7px;
    color: white;
}

.github:hover{
    margin-left: 7px;
    margin-right: 7px;
    color: black;
}

/* ------------------------------------------------------------- */


@media (max-width: 750px) {
    .cardViewContainer .socialContainer{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    .cardViewContainer{
        height: 55%;
    }

    .cardViewContainer .timeContainer{
        width: 100%;
        height: 30%;
    }

    .cardViewContainer .contentContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        width: 100%;
        justify-content: center;
    }
    .cardViewContainer .contentContainer .tempContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;   
        height: 70%;
        margin-right: 20px;
        width: 100%;
        margin: auto;
        height: 20%;
    }
    .cardViewContainer .contentContainer .nameContainer{
        width: 100%;
        margin: auto;
        height: 15%;
    }

    .cardViewContainer .contentContainer .nameContainer h1{
        font-size: 20px;
    }
    .cardViewContainer .contentContainer .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .cardViewContainer .contentContainer .imgContainer img{
        margin-top: -20px;
    }
}