.miniCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 30%;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.miniCardContainer .titulo{
    font-size: 14px;
    color: rgb(233, 233, 233);
}

.miniCardContainer .containerTemp{
    font-size: 22px;
    
}

.miniCardContainer img{
    height: 50px;
    width: 50px;
}

.miniCardContainer:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    width: 30%;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: black;
}